.product-panel {
  padding: 0px 10px;
  max-height: calc(100vh - 100px);
  background-color: #f1f1f1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
}

.product-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Ensures content is centered vertically */
  cursor: pointer;
  padding: 15px 10px;
  border: 1px solid #ccc; /* Updated to see borders clearly */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-sizing: border-box;
  font-size: 14px;
  height: 260px; /* Fixed height to prevent layout shifts */
  width: 225px;
  font-family: Arial, sans-serif;
  color: #007185;
  background: #fff; /* Ensure background is white */
}

.product-icon img {
  max-width: 100%;  /* Limit image width */
  max-height: 160px; /* Limit image height */
  object-fit: contain; /* Ensures the image fits well without stretching */
  margin-bottom: 10px; /* Adds space below the image */
}

.icon-text, .icon-price {
  width: 100%; /* Take full width to center the text */
  text-align: center; /* Center-align the text */
}


/* Additional styles to ensure text takes up available space if no image is present */
/* Additional styles to ensure text takes up available space if no image is present */
/* Additional styles to ensure text takes up available space if no image is present */
.product-icon.no-image {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  height: 200px; /* Fixed height when no image */
}

  .icon-text{
    max-height: 80px;
    max-width: 100%;
    object-fit: contain;
    margin-top: 10px;
    overflow:scroll;
    overflow: hidden;  
    text-overflow: ellipsis;  


  }

/* Adjust .icon-price to make sure it stays within the boundaries */
  .icon-price {
    position: relative;
    bottom: 10px; /* Adjust position to stay within the container */
  }

  .product-icon:hover{
    text-decoration: underline;
    color: #B12704;
  }
  .product-icon div:first-child {
    width: 225px;  /* Ensure the image takes the full width of its container */
    height: 160px;
    justify-content: center;
    align-items: center;
    object-fit: contain; /* Ensure the image is scaled correctly within the container without cropping */
  }

 
  
  .product-icon h3, .product-icon p {
   /* margin: 2px 0; Smaller margin for better spacing */
    text-align: center; /* Center text for aesthetics */
  }
  .product-details-overlay {
    position: fixed;
    top: 20%;
    left: 30%;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
  }
  